1   What are data structures, and why are they important?

Ans- Data structures are a way of organizing and storing data so that they can be accessed and worked with efficiently. They define the relationship between the data, and the operations that can be performed on the data.

Data structure is important:
 Efficient Data Organization and Management
 Enhancing Program Performance
 Real-World Applications

2 Explain the difference between mutable and immutable data types with examples?


Ans- 2. Mutable Data Types – These are data types whose values can be modified after they are created. Examples: List, Dictionary, Set
Immutable Data Types – These are data types whose values cannot be altered once they are set. Examples: String, Tuple

3  What are the main differences between lists and tuples in Python?

Ans-  The main difference between lists and tuples in Python is that lists are mutable (can be changed after creation) while tuples are immutable (cannot be changed after creation)

4  Describe how dictionaries store data?

Ans-  Dictionaries store data as unordered collections of key-value pairs, where each key is unique and used to access its associated value.

5   Why might you use a set instead of a list in Python?

Ans-  Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6  What is a string in Python, and how is it different from a list?

Ans- A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7 How do tuples ensure data integrity in Python?

Ans- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8 What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table is a data structure that uses a hash function to map keys to values, and Python dictionaries are built upon this concept, allowing for efficient key-value pair storage and retrieval.

9 Can lists contain different data types in Python

Ans- Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10 Explain why strings are immutable in Python?

Ans- Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct new strings as we go to represent computed values.

11 What advantages do dictionaries offer over lists for certain tasks?

Ans- Dictionaries excel over lists for tasks involving quick data retrieval and mapping relationships, due to their ability to access values by keys rather than indices, offering faster lookup times

12 Describe a scenario where using a tuple would be preferable over a list?

Ans- Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.

13 How do sets handle duplicate values in Python?

Ans- Here are some of the features of sets in Python: Duplicate items are not allowed. If items appear multiple times, only one will be recognized in the set. The items in a set are unordered.

14 How does the “in” keyword work differently for lists and dictionaries?

Ans- 14. Take the following dictionary as an example.

d = dict(zip(l_large, l_large))
print(len(d))
# 10000

print(d[0])
# 0

print(d[9999])
# 9999

As mentioned above, the in operation for the dictionary tests on keys.

The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets.

15 Can you modify the elements of a tuple? Explain why or why not.

Ans- No, you cannot directly modify the elements of a tuple in Python because tuples are immutable, meaning their contents cannot be changed after creation

16 What is a nested dictionary, and give an example of its use case?

Ans- A nested dictionary in Python is a dictionary where the values are themselves dictionaries, allowing for hierarchical or layered data storage. A use case is representing employee records organized by department, with each employee's details stored in a nested dictionary.

17 Describe the time complexity of accessing elements in a dictionary.

Ans- Accessing elements in a dictionary (or hash map) typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. However, in the worst-case scenario (e.g., many collisions), it can degrade to O(n).

18 In what situations are lists preferred over dictionaries?

Ans- Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters

19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- Dictionaries are considered unordered because they store data as key-value pairs, and the order in which these pairs are inserted doesn't affect how they are stored or retrieved; accessing data relies on keys, not position.

20  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans- In terms of data retrieval, lists use numerical indices (starting from 0) for accessing elements, while dictionaries use keys to access associated values, offering significantly faster lookups than lists.

In [1]:
#1 Write a code to create a string with your name and print it?

name = "Divya"
print(name)

Divya

In [2]:
#2  Write a code to find the length of the string "Hello World"

a = "Hello, World"
print(len(a))

13

In [3]:
#3  Write a code to slice the first 3 characters from the string "Python Programming"

b = "Python Programming"
print(b[0:3])

Pyt

In [4]:
#4  Write a code to convert the string "hello" to uppercase?

a = "hello"
print(a.upper())

HELLO

In [6]:
#5  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

a="I like apple"
b=a.replace("apple", "orange")
print(b)

I like orange

In [8]:
#6  Write a code to create a list with numbers 1 to 5 and print it?

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7  Write a code to append the number 10 to the list [1, 2, 3, 4] ?

number=[1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [11]:
#8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [12]:
#9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

n=['a','b','c','d']
print(n[2])

c

In [13]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50]?

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [15]:
#11  Write a code to create a tuple with the elements 100, 200, 300 and print it?

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [19]:
#12   Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

color_list = ["red", "green", "blue", "yellow"]
print("%s" % (color_list[-2]))

blue

In [20]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

In [21]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [24]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

thistuple = ("apple", "banana", "cherry")
if "kiwi" in thistuple:
  print("Yes, 'kiwi' is in the fruits tuple")
else:
  print("Not present")

Not present

In [25]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [26]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [27]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

A = {1, 2, 3}
B = {3, 4, 5}
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 4, 5}

In [29]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}


A = {1, 2, 3}
B = {2, 3, 4}
print('A U B = ', A.intersection(B))

A U B =  {2, 3}

In [30]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

a={'name': 'Divya', "age":24, "city":"patna"}
print(a)

{'name': 'Divya', 'age': 24, 'city': 'patna'}

In [31]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

a={'name': 'Divya', "age":24, "city":"patna"}
a["name"]="John"
a["age"]=25
print(a)

{'name': 'John', 'age': 25, 'city': 'patna'}

In [33]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

a={'name': 'Alice', 'age': 30}
a.get("name")

'Alice'

In [34]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
print(a)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

data = {'name': 'Alice', 'city': 'Paris'}

if 'city' in data:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [36]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all?


my_list = [1, 2, 3, 4, 5]

my_tuple = (10, 20, 30, 40, 50)

my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [37]:
#27   Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [12, 15, 58, 60, 63]

In [38]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print("Element at the third index:", my_list[3])

Element at the third index: date

In [39]:
#29   Write a code to combine two dictionaries into one and print the result

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}

print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [40]:
#30. Write a code to convert a list of strings into a set.


l = ["apple", "banana", "cherry", "apple", "banana"]

s = set(l)

print("Set of strings:", s)

Set of strings: {'apple', 'banana', 'cherry'}